<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

    <context:annotation-config></context:annotation-config>

<!--<mvc:annotation-driven/>-->
    <!--自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器-->
    <context:property-placeholder
            ignore-unresolvable="true" ignore-resource-not-found="true"
            system-properties-mode="NEVER"
            location="classpath:jdbc.properties"/>

    <context:component-scan base-package="chapter5">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>
    <import resource="spring-mvc.xml"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>



    <bean id="citySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="configLocation" value="classpath:mybatis/spring-mybatis.xml"/>-->
        <property name="mapperLocations">
            <list>
                <value>classpath:chapter5.mapper/city/CityMapper.xml</value>
            </list>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="chapter5.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="citySqlSessionFactory"/>
    </bean>
    <!--<bean id="cityMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
    <!--<property name="mapperInterface" value="chapter5.mapper.CityMapper"/>-->
    <!--<property name="sqlSessionFactory" ref="citySqlSessionFactory"/>-->
    <!--</bean>-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" order="2"/>
</beans>