<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
    <resultMap id="BaseResultMap" type="chapter5.bean.City">
        <result column="ID" property="id" jdbcType="INT"/>
        <result column="Name" property="name" jdbcType="VARCHAR"/>
        <result column="CountryCode" property="countrCode" jdbcType="VARCHAR"/>
        <result column="District" property="district" jdbcType="VARCHAR"/>
        <result column="Population" property="population" jdbcType="INT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,Name,CountryCode,District,Population
    </sql>

    <select id="selectByID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM city
        WHEN ID = #{id, jdbcType=int}
    </select>
</mapper>